__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
media/temp_video/
media/temp_audio/
models/whisper/
*.pt
*.pth
.DS_Store
*.log
db.sqlite3
staticfiles/
